<script type="text/javascript">function init() {return;} function term() {return;}</script>
<div class="mainWrap">
<div class="main">
<div class="content">
<h1>Contact</h1>
<h2>Product Information</h2>
<table class="data">
<tr><td colspan="2">For general information about the product please contact:</td></tr>
<tr><th>Phone:</th><td>+49 (89) 456 56-340</td></tr>
<tr><th>Fax:</th><td>+49 (89) 456 56-488</td></tr>
<tr><th>Email:</th><td><a href="mailto:info.automation@softing.com">info.automation@softing.com</a></td></tr>
<tr><th>www:</th><td><a href="http://industrial.softing.com/de/produkte/software/protokoll-software-fuer-fpgas.html"><b>www.softing.com</b></a></td></tr>
</table>
<br>
<h2>Technical Support</h2>
<table class="data">
<tr><td colspan="2">If you need technical support please contact:</td></tr>
<tr><th>Phone:</th><td>+49 (89) 456 56-326</td></tr>
<tr><th>Fax:</th><td>+49 (89) 456 56-488</td></tr>
<tr><th>Email:</th><td><a href="mailto:support.automation@softing.com">support.automation@softing.com</a></td></tr>
</table>
</div>
</div>
</div>