<script src="/jscript/firmware.js" type="text/javascript"></script>
<script src="/jscript/utility.js" type="text/javascript"></script>
<div class="mainWrap">
<div class="main">
<div class="content">
<h1>Firmware Update</h1>
<form action="/ajax_handler" onsubmit="return firmware_update();" id="FirmwareForm">
<div>
<table><tr>
<th>Firmware:</th>
<td><input type="file" id="Firmware" size="80"></td>
</tr></table>
<input type="submit" name="Submit" value="Update" style="margin-left:20px;margin-top:30px">
</div>
</form>
<br><br>
<div id="Result" style="display: none;">
<table class="data"><tr><td id="ResultString">Transferring Data</td></tr></table>
</div>
</div>
</div>
</div>