<script type="text/javascript">function init() {return;} function term() {return;}</script>
<div class="mainWrap">
<div class="main">
<div class="content">
<h1>Licence Information</h1>
<table><tr><td>
<h2>Packages under a modified version of the GPL</h2>
<table>
<tr><td>The firmware uses the following packages with <a href="http://ecos.sourceware.org/license-overview.html">modified GPL license</a></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>eCos Operating System</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>These components are used on the operating system layer of the firmware.<br>The protocol stacks does not use code under GPL license.</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>Download the source code of these packages from: <a href="ftp://ftp.softing.com/pub/outgoing/GPL/RTEM_GPL.zip">here</a></td></tr>
</table>
</td></tr></table>
</div>
</div>
</div>