<script type="text/javascript">function init() {return;} function term() {return;}</script>
<div class="mainWrap">
<div class="main">
<div class="content">
<h1>No Access</h1>
you don't have the rights to acces this page.
</div>
</div>
</div>