/******************************************************************************

SOFTING Industrial Automation GmbH
Richard-Reitzner-Allee 6
D-85540 Haar
Phone: ++49-89-4 56 56-0
Fax: ++49-89-4 56 56-3 99
http://www.softing.com

Copyright (C) SOFTING Industrial Automation GmbH 2005-2015. All Rights Reserved

Version: 1.35.00

******************************************************************************/

*                         {margin:0;padding:0;}
img                       {border:0 none;}
ul                        {list-style:outside none none;}
a                         {text-decoration:none;}
.clear                    {clear:both;}

body                      {background:none repeat scroll 0 0 #575756;color:#575756;font-family:Arial,Helvetica,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:1.45em;text-align:center;}

.progbar                  {width:100px;padding:1px;background-color:#dee3e7;border:1px solid grey;height:10px;}
.progind                  {width:0px;background-color:green;height:10px;margin:0;float:left;}
.progind2                 {width:0px;background-color:mediumseagreen ;height:10px;margin:0;float:left;}

.content .ajax            {float:right;width:150px;border:1px solid #D0D0D0;}

.content table.io         {border:1px solid #000;border-spacing:0;border-collapse:collapse;}
.content table.io  th     {text-align:center;vertical-align:center;border:1px solid #000;padding:0.3em;background:#eee;min-width:24px;}
.content table.io  td     {text-align:left;vertical-align:center;border:1px solid #000;padding:0.3em;}

.content table.data       {border:none;border-collapse:collapse;}
.content table.data th    {margin-top:0px;margin-bottom:0px;text-align:left;font-weight:normal;min-width:250px;}
.content table.data td    {margin-top:0px;margin-bottom:0px;text-align:left;}
.content h1               {font-size:22px;line-height:1.25em;font-weight:normal;font-style:normal;color:#5D7E95;margin:20px 0px 38px 0px;}
.content h2               {font-size:18px;line-height:1.25em;font-weight:normal;font-style:normal;color:#5D7E95;margin:20px 0px 15px 0px;}
.content h4               {font-size:14px;line-height:1.45em;font-weight:bold;font-style:italic;color:#5D7E95;margin:10px 0px 8px 0px;}
.content h5               {font-size:14px;line-height:1.45em;font-weight:bold;font-style:normal;color:#5D7E95;margin:8px 0px 4px 0px;}
.content h6               {font-size:14px;line-height:1.45em;font-weight:normal;font-style:normal;color:#5D7E95;margin:8px 0px 4px 0px;}
.content p                {font-size:14px;line-height:1.45em;font-weight:normal;font-style:normal;color:#575756;margin:0px 0px 15px 0px;}

.content li               {color: #575756;font-size: 14px;font-style: normal;font-weight: normal;line-height: 1.5em;margin: 0;}

.content input[type="text"]   {background:none repeat scroll 0 0 #dee3e7;border:medium none;color:#575756;display:block;height:20px;margin:0 0 5px;padding:3px 5px;width:200px;}
.content input[type="submit"] {background: url("/images/news_feed_header.png") no-repeat scroll right center rgba(0, 0, 0, 0);border:medium none;color:#fff !important;cursor:pointer;padding:3px 7px;}
.content input[type="button"] {background: url("/images/news_feed_header.png") no-repeat scroll right center rgba(0, 0, 0, 0);border:medium none;color:#fff !important;cursor:pointer;padding:3px 7px;}

.contentsub h2            {background:none repeat scroll 0 0 #dee3e7;clear:both;font-style:italic;padding:3px 10px;}

.header, .main, .footer   {margin:auto;text-align:left;width:960px;}
.site                     {background:url("/images/body.png") repeat-x scroll 0 -30px rgba(0, 0, 0, 0);}
.header                   {height:170px;}
.divisions                {float:left;height:82px;width:778px;}
.divisionInfo             {float:left;height:53px;width:730px;}
.logo                     {float:right;height:62px;padding:20px 0 0;text-align:right;width:182px;}
.language                 {float:right;height:45px;padding:8px 0 0;text-align:right;width:230px;}
.mainmenu                 {float:left;height:35px;padding:0;width:800px;}
.mainWrap                 {background:none repeat scroll 0 0 #fff;min-height:627px;}
.main                     {padding:20px 0;}
.footerWrap               {background:url("/images/footer_wrap.png") repeat-x scroll 0 0 #6f6f6e;}
.footer                   {height:100px;}
.footerItem               {float:left;padding:30px 20px 0 0;width:300px;}
.rightCol .content        {padding:0;}
.language p               {text-align:right;}
.language ul              {float:right;list-style:outside none none;padding:0;}
.language li              {color:#fff;float:left;margin:0 0 0 15px;}
.language li.disabled     {display:none;}
.language a               {color:#fff;}
.language p               {color:#fff;font-style:italic;}
.language a:hover, .language .act {text-decoration:underline;}
.mainmenu ul              {list-style:outside none none;padding:0;}
.mainmenu li              {float:left;margin:0 20px 0 0;position:relative;}
.mainmenu a               {color:#fff;display:block;font-size:16px;height:35px;min-width:90px;text-decoration:none;}
.mainmenu a:hover         {background:url("../images/menu_act.png") no-repeat scroll center bottom #5d7e95;}
.mainmenu .lvl2           {background:url("../images/submenu_act.png") no-repeat scroll 0 0 #5d7e95;display:none;left:0;list-style:outside none none;opacity:0.95;padding:15px 0 0;position:absolute;top:34px;width:210px;z-index:100;}
.mainmenu .lvl2 li        {border-bottom:1px solid #fff;padding:5px 0;position:relative;}
.mainmenu .lvl2 li.hasLvl3{background:url("../layout/lvl2li.png") no-repeat scroll right center rgba(0, 0, 0, 0);}
.mainmenu .lvl2 a         {display:block;height:auto;padding:0 15px;width:180px;}
.mainmenu .lvl2 a:hover   {background:none repeat scroll 0 0 rgba(0, 0, 0, 0);text-decoration:underline;}
.mainmenu li:hover .lvl2  {display:block;}
.mainmenu .lvl3           {background:none repeat scroll 0 0 #5d7e95;display:none;left:210px;opacity:0.95;padding:14px 0 0;position:absolute;top:-14px;width:210px;z-index:100;}
.mainmenu li.last         {border:medium none;}
.mainmenu .lvl2 li:hover .lvl3 {display:block;}

div#overlay               {display:none;z-index:2;background:#000;position:fixed;width:100%;height:100%;top:0px;left:0px;text-align:center; } 
div.highlighted           {display:none;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:3;background:#FFF;color:#000;}
