<script src="/jscript/diagnosis.js" type="text/javascript"></script>
<script src="/jscript/utility.js" type="text/javascript"></script>
<div class="mainWrap">
<div class="main">
<div class="content">
<table class="ajax">
<tr><td>Refresh (10s)</td></tr>
<tr><td id="AjaxLoading"><img src="/images/ajax_loader.gif" alt="loading">Refresh data ...</td></tr>
</table>
<h1>Diagnosis</h1>
<div class="contentsub">
<h2>Exception</h2>
<table class="data">
<tr><th>Code:</th><td id="Cod">-</td></tr>
<tr><th>ChannelId:</th><td id="Cha">-</td></tr>
<tr><th>ModuleId:</th><td id="Mod">-</td></tr>
<tr><th>FileId:</th><td id="Fil">-</td></tr>
<tr><th>Line:</th><td id="Lin">-</td></tr>
<tr><th>ErrorId:</th><td id="Err">-</td></tr>
<tr><th>Parameter:</th><td id="Par">-</td></tr>
<tr><th>String:</th><td id="Str">-</td></tr>
</table>
<h2>Application</h2>
<table class="data">
<tr><th><h4>CPU Load</h4></th><td></td></tr>
<tr><th>0.1s:</th><td><table><tr><td id="ApplLoad100ms" style="min-width:40px;">-</td><td><div class="progbar"><div class="progind" id="ApplLoad100msB"></div></div></td></tr></table></td></tr>
<tr><th>1s:</th><td><table><tr><td id="ApplLoad1s" style="min-width:40px;">-</td><td><div class="progbar"><div class="progind" id="ApplLoad1sB"></div></div></td></tr></table></td></tr>
<tr><th>10s:</th><td><table><tr><td id="ApplLoad10s" style="min-width:40px;">-</td><td><div class="progbar"><div class="progind" id="ApplLoad10sB"></div></div></td></tr></table></td></tr>
</table>
<h2>Fieldbus</h2>
<table class="data">
<tr><th><h4>CPU Load</h4></th><td></td></tr>
<tr><th>0.1s:</th><td><table><tr><td id="FBLoad100ms" style="min-width:40px;">-</td><td><div class="progbar"><div class="progind" id="FBLoad100msB"></div></div></td></tr></table></td></tr>
<tr><th>1s:</th><td><table><tr><td id="FBLoad1s" style="min-width:40px;">-</td><td><div class="progbar"><div class="progind" id="FBLoad1sB"></div></div></td></tr></table></td></tr>
<tr><th>10s:</th><td><table><tr><td id="FBLoad10s" style="min-width:40px;">-</td><td><div class="progbar"><div class="progind" id="FBLoad10sB"></div></div></td></tr></table></td></tr>
<tr><th><h4>Interface</h4></th><td></td></tr>
<tr><th>Type:</th><td id="Type">-</td></tr>
<tr><th>State:</th><td id="State">-</td></tr>
<tr><th><h4>Port 1</h4></th><td></td></tr>
<tr><th>Link:</th><td id="Lnk0">-</td></tr>
<tr><th>Connection:</th><td id="Con0">-</td></tr>
<tr><th>Negotiation:</th><td id="Neg0">-</td></tr>
<tr><th>Cable length:</th><td id="Len0">-</td></tr>
<tr><th><h4>Port 2</h4></th><td></td></tr>
<tr><th>Link:</th><td id="Lnk1">-</td></tr>
<tr><th>Connection:</th><td id="Con1">-</td></tr>
<tr><th>Negotiation:</th><td id="Neg1">-</td></tr>
<tr><th>Cable length:</th><td id="Len1">-</td></tr>
</table>
</div>
</div>
</div>
</div>
