<script src="/jscript/iodata.js" type="text/javascript"></script>
<script src="/jscript/utility.js" type="text/javascript"></script>
<div class="mainWrap">
<div class="main">
<div class="content">
<table class="ajax">
<tr><td>Refresh (10s)</td></tr>
<tr><td id="AjaxLoading"><img src="/images/ajax_loader.gif" alt="loading">Refresh data ...</td></tr>
</table>
<h1>IO Data</h1>
<table id="IODataTable" class="io"><tr>
<th style="width:80px;">ID</th>
<th style="width:80px;">Type</th>
<th style="width:80px;">Input<br>Status</th>
<th style="width:80px;">Output<br>Status</th>
<th style="width:60px;">Input<br>Size</th>
<th style="width:60px;">Output<br>Size</th>
<th style="min-width:80px;">Input<br>Data</th>
<th style="min-width:80px;">Output<br>Data</th>
</tr></table>
</div>
</div>
</div>