<script src="/jscript/network.js" type="text/javascript"></script>
<script src="/jscript/utility.js" type="text/javascript"></script>
<div class="mainWrap">
<div class="main">
<div class="content">
<h1>Network</h1>
<form action="/ajax_handler" onsubmit="return network_submit();" id="NetworkForm">
<div>
<table class="data"><tr>
<th>Device Name:</th>
<td><input type="text" name="Name" id="Name" size="16" maxlength="240" value=""></td>
</tr><tr><td>&nbsp;</td></tr><tr>
<th>IP Address:</th>
<td><input type="text" name="Ip" id="Ip" size="16" maxlength="15" value=""></td>
</tr><tr>
<th>Netmask:</th>
<td><input type="text" name="Nm" id="Nm" size="16" maxlength="15" value=""></td>
</tr><tr>
<th>Gateway:</th>
<td><input type="text" name="Gw" id="Gw" size="16" maxlength="15" value=""></td>
</tr><tr><th>&nbsp;</th></tr><tr>
<th>Use DHCP:</th>
<td><input type="checkbox" Name="Dhcp" id="Dhcp"></td>
</tr></table>
<input type="submit" name="Submit" value="Submit" style="margin-left:20px;margin-top:30px">
</div>
</form>
</div>
</div>
</div>