<script src="/jscript/overview.js" type="text/javascript"></script>
<script src="/jscript/utility.js" type="text/javascript"></script>
<div class="mainWrap">
<div class="main">
<div class="content">
<table class="ajax">
<tr><td>Refresh (10s)</td></tr>
<tr><td id="AjaxLoading"><img src="/images/ajax_loader.gif" alt="loading">Refresh data ...</td></tr>
</table>
<h1>Overview</h1>
<table class="data">
<tr><th>Protocol:</th><td id="Proto">&nbsp;</td></tr>
<tr><th>&nbsp;</th><td></td></tr>
<tr><th>Status:</th><td id="Status">&nbsp;</td></tr>
<tr><th>&nbsp;</th><td></td></tr>
<tr><th>Device Name:</th><td id="Name">&nbsp;</td></tr>
<tr><th>&nbsp;</th><td></td></tr>
<tr><th>MAC Device:</th><td id="Md">&nbsp;</td></tr>
<tr><th>MAC Port 1:</th><td id="Mp1">&nbsp;</td></tr>
<tr><th>MAC Port 2:</th><td id="Mp2">&nbsp;</td></tr>
<tr><th>&nbsp;</th><td></td></tr>
<tr><th>IP Address:</th><td id="Ip">&nbsp;</td></tr>
<tr><th>Netmask:</th><td id="Nm">&nbsp;</td></tr>
<tr><th>Gateway:</th><td id="Gw">&nbsp;</td></tr>
</table>
</div>
</div>
</div>