<script src="/jscript/version.js" type="text/javascript"></script>
<script src="/jscript/utility.js" type="text/javascript"></script>
<div class="mainWrap">
<div class="main">
<div class="content">
<h1>Versions</h1>
<table class="data">
<tr><th>Application:</th><td id="Appl">-</td></tr>
<tr><th>SDAI:</th><td id="Sdai">-</td></tr>
<tr><th>Stack:</th><td id="Stack">-</td></tr>
<tr><th>MAC:</th><td id="Mac">-</td></tr>
</table>
</div>
</div>
</div>